@media screen and (max-width: 1366px) {
  .os-grid-header strong,
  .os-grid-header i,
  .os-grid-header span {
    font-size: 16px;
  }
  .os-nodata p {
    font-size: 16px;
  }
  .chart-box {
    width: 48%;
    margin: 0 1% 1% 0;
  }
  .chart-box1 {
    width: 31.5%;
    margin: 0 1% 1% 0;
  }
  .quality-police {
    height: 500px;
  }
  .police-left {
    float: none;
    width: 370px;
    height: 240px;
    margin: 0 auto;
    overflow: hidden;
  }
  .sector-chart {
    float: left;
  }
  .suitable-deposit {
    float: left;
    margin: 15px 0 0;
  }
  .police-right {
    float: none;
    width: 98%;
    margin: -90px auto 0;
  }
  .reservoir-area h2 {
    font-size: 16px;
  }
  .re-ae-list li {
    font-size: 12px;
  }
  .reservoir-info .hd h3 {
    font-size: 16px;
  }
  .sys-title {
    padding-bottom: 5px;
  }
  .set-tag-template {
    padding-bottom: 10px;
  }
  .tag-barcode,
  .tag-qrcode {
    width: 700px;
    margin-top: 0;
    padding: 10px 20px;
  }
  .tag-barcode .arrow-r,
  .tag-qrcode .arrow-r {
    top: 70px;
  }
  .tag-barcode .ei-radio label,
  .tag-qrcode .ei-radio label {
    font-size: 14px;
    width: 16px;
    line-height: 1.9;
    text-align: center;
  }
  .tag-barcode .select-style,
  .tag-qrcode .select-style {
    width: 230px;
    height: 122px;
    padding: 10px;
    font-size: 12px;
  }
  .tag-barcode .select-style .info li,
  .tag-qrcode .select-style .info li {
    margin-top: 2px;
  }
  .tag-barcode .ei-check,
  .tag-qrcode .ei-check {
    padding-bottom: 5px;
  }
  .tag-barcode .bar-code img,
  .tag-qrcode .bar-code img {
    height: 50px;
  }
  .tag-barcode .info li strong,
  .tag-qrcode .info li strong {
    font-size: 14px;
  }
  .tag-barcode .select-style .info {
    height: 60px;
  }
  .tag-qrcode {
    margin-top: 10px;
  }
  .tag-qrcode .select-style {
    font-size: 12px;
  }
  .tag-qrcode .select-style .qr-code {
    padding-top: 0;
  }
  .tag-qrcode .select-style .qr-code img {
    width: 100px;
    height: 100px;
  }
  .tag-qrcode .select-style .info {
    width: 118px;
    margin-left: 8px;
  }
  .tag-qrcode .select-style .info li {
    margin-top: 2px;
  }
  .tag-qrcode .select-style .ei-check {
    width: 80px;
  }
  .tag-qrcode .select-style .ei-check label {
    padding: 3px;
  }
  .grain-header .logo {
    width: 228px;
  }
  .grain-header .logo-ly {
    margin-left: 12px;
  }
  .warehouse,
  .warehouse-back,
  .warehouse-overlook,
  .warehouse1 {
    top: 30%;
  }
  .warehouse-overlook {
    top: 33%;
  }
  .main-content {
    padding: 0 0 10px 10px;
  }
  .grain-monitor {
    margin-top: 45px;
  }
  .header-inner {
    width: 1325px;
    padding-top: 15px;
  }
  .barn-data-total {
    width: 413px;
  }
  .barn-data-total .mode-con {
    width: 410px;
  }
  .barn-data-total2 {
    width: 474px;
  }
  .barn-data-total2 .mode-con {
    width: 471px;
  }
  .barn-state {
    width: 267px;
  }
  .barn-state .mode-con {
    width: 264px;
  }
  .barn-data-list li {
    width: 155px;
  }
  .humid-data-total {
    width: 504px;
  }
  .humid-data-total .mode-con {
    width: 501px;
  }
  .gas-data-total {
    width: 307px;
  }
  .gas-data-total .mode-con {
    width: 304px;
  }
  .gr-de-info {
    margin: 0;
  }
  .gr-de-info .link-bar {
    padding: 5px 0;
  }
  .graintemp-west {
    top: 50px;
  }
  .grain-meter {
    left: 360px;
    top: 80px;
  }
  .es-list li {
    width: 225px;
  }
  .warehouse-box .warehouse-item {
    width: 647px;
  }
  .wnum-top h4 {
    width: 567px;
  }
  .grain-details .grain-temp-grid {
    width: 55%;
  }
  .mdata-list li {
    margin-left: 5.8%;
  }
  .gas-data-inner .mdata-list li {
    margin-left: 9.5%;
  }
  .grain-temp-grid2 {
    right: -205px;
  }
  .switch-layer {
    width: 314px;
    height: 108px;
    margin: -44px 0 0 -157px;
  }
  .switch-layer p {
    font-size: 14px;
  }
  .task-enter,
  .visualizat-enter {
    margin-left: 10px;
  }
  .top-cancel {
    margin-right: 10px;
  }
  .gas-data .mdata-list li i {
    width: 29px;
    height: 27px;
    margin-right: 8px;
    padding-right: 9px;
    background-image: url(../images/m/icon-gast.png);
  }
  .mdata-list li {
    margin-left: 5.8%;
  }
  .mdata-list li .data {
    margin-top: -2px;
  }
  .mdata-list li .data strong {
    font-size: 14px;
  }
  .mdata-list li .data span {
    display: block;
    font-size: 12px;
  }
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
  .mCustomScrollBox > .mCSB_scrollTools {
    width: 4px;
  }
  .window-button .l-btn {
    width: 88px;
    height: 24px;
    margin-left: 85px;
  }
  .window-button .l-btn-text {
    line-height: 24px;
    font-size: 12px;
  }
  .layer-wrap .close {
    top: -19px;
    right: -19px;
    width: 32px;
    height: 28px;
    background-position: 0 -33px;
  }
  .switch-barn-layer {
    width: 650px;
    height: 358px;
    margin: -179px 0 0 -325px;
  }
  .switch-barn-layer .bd {
    height: 302px;
  }
  .switch-barn-number .tips {
    padding-top: 3px;
  }
  .switch-barn-number h2 {
    font-size: 16px;
    padding-left: 20px;
  }
  .switch-barn-number h3 {
    padding-left: 20px;
  }
  .barn-number-list {
    padding-left: 6px;
  }
  .barn-number-list li {
    margin: 14px 0 0 14px;
  }
  .barn-number-list li a {
    width: 90px;
    height: 34px;
    line-height: 34px;
    font-size: 12px;
  }
  .barn-number-list li.keeping a:before {
    width: 26px;
    height: 26px;
    background-position: -97px -22px;
  }
  .barn-number-list li.keeping a:hover:before {
    width: 26px;
    height: 26px;
    background-position: -124px -22px;
  }
  .device-control-layer {
    width: 363px;
    height: 430px;
    margin: -234px 0 0 -181px;
  }
  .loop-control {
    height: 210px;
    margin-top: -105px;
  }
  .loop-manually .bd {
    padding: 0 47px;
  }
  .loop-manually .manually-switch-wrap {
    margin-top: 15px;
  }
  .manually-tabs .tabs li {
    height: 28px;
  }
  .manually-tabs .tabs li:before {
    top: 3px;
    height: 22px;
  }
  .manually-tabs .tabs li a.tabs-inner {
    width: 70px;
  }
  .manually-tabs .tabs li .tabs-title {
    font-size: 12px;
  }
  .manually-accordion-con {
    height: 370px;
  }
  .windows-accordion-con .manually-slider-wraper,
  .vent-accordion-con .manually-slider-wraper,
  .fan-accordion-con .manually-slider-wraper {
    padding: 8px 39px 5px 44px;
  }
  .ventilation-accordion .accordion-header {
    height: 20px;
    line-height: 20px;
  }
  .ventilation-accordion .accordion-header .icon-acco {
    width: 14px;
    height: 14px;
    margin-top: -7px;
    background-position: -15px -17px;
  }
  .ventilation-accordion .panel-with-icon {
    padding-left: 31px;
  }
  .ventilation-accordion .panel-title {
    height: 20px;
    line-height: 18px;
    font-size: 12px;
  }
  .ventilation-accordion .panel-tool a {
    background-position: -30px -15px;
  }
  .ventilation-accordion .accordion-header-selected .icon-acco {
    background-position: 0 -17px;
  }
  .ventilation-accordion .accordion-header-selected .panel-tool a {
    background-position: -49px -15px;
  }
  .device-table td {
    padding: 5px 11px;
  }
  .single-device .manually-topic .process-name {
    font-size: 12px;
  }
  .auto-ventilat-layer {
    width: 407px;
  }
  .oil-header-inner {
    width: 1123px;
  }
  .layer-history-record {
    width: 1000px;
  }
  .warehouse-box .warehouse-item {
    width: 644px;
  }
  .wnum-top h4 {
    width: 564px;
  }
  .blue-arrow-left,
  .blue-arrow-right {
    top: 30px;
  }
  .layout-number .menu-list {
    padding: 10px 10px 0;
  }
  .layout-number .number-quantity-total {
    width: 430px;
  }
  .layout-number .number-quantity-total .mode-con {
    width: 427px;
  }
  .layout-number .number-quantity-total b.tc,
  .layout-number .number-quantity-total b.bc {
    width: 82%;
  }
  .layout-number .number-quantity-total .quantity-detect-list {
    margin-top: -24px;
  }
  .layout-number .number-quantity-total .quantity-detect-list li span {
    font-size: 12px;
    margin-bottom: 2px;
  }
  .layout-number .number-quantity-total .quantity-detect-list li em {
    font-size: 14px;
  }
  .layout-number .number-quantity-total .quantity-detect-list li:nth-child(5),
  .layout-number .number-quantity-total .quantity-detect-list li:nth-child(6) {
    white-space: nowrap;
  }
  .layout-number .number-quantity-total .quantity-detect-list li:nth-child(5) span,
  .layout-number .number-quantity-total .quantity-detect-list li:nth-child(6) span {
    display: inline-block;
  }
  .layout-number .number-quantity-total .quantity-detect-list li:nth-child(5) em,
  .layout-number .number-quantity-total .quantity-detect-list li:nth-child(6) em {
    margin: 0 20px 0 10px;
  }
  .layout-number .number-data-total {
    width: 380px;
  }
  .layout-number .number-data-total .mode-con {
    width: 377px;
  }
  .layout-number .number-data-total .barn-data-list li {
    width: 180px;
  }
  .power-station {
    width: 80px;
    height: 42px;
    right: -98px;
  }
  .power-station .i-home {
    width: 16px;
    height: 16px;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
  }
  .power-station .cf-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
  }
  .power-station .cf-info .label-cf {
    display: none !important;
  }
  .power-station .cf-info .value-cf {
    text-align: center !important;
  }
  .layout-atmos .header-inner {
    text-align: center !important;
    white-space: nowrap;
  }
  .layout-atmos .header-inner .mode-box {
    display: inline-block;
    float: none;
    white-space: normal;
  }
  .layout-atmos .number-quantity-total {
    width: 448px;
  }
  .layout-atmos .number-quantity-total .mode-con {
    width: 445px;
  }
  .layout-atmos .more-data-total {
    width: 260px;
  }
  .layout-atmos .more-data-total .mode-con {
    width: 257px;
  }
  .layout-atmos .menu-box-atm-first {
    width: 130px !important;
  }
  .layout-atmos .menu-box-atm-first .mode-con {
    width: 127px !important;
  }
  .layout-atmos .menu-box-atm-first .detection-time {
    margin: 7px 0 5px 24px;
  }
  .layout-atmos .menu-box-atm-first .last-check-time {
    display: none !important;
  }
  .layout-atmos .menu-box-atm-first .menu-list {
    white-space: nowrap;
    width: 180px;
  }
  .layout-atmos .menu-box-atm-first .menu-list li {
    margin: 0 0 0 15px;
  }
  .layout-atmos .menu-box-atm-first .menu-list .l-btn {
    margin-left: 8px;
    width: 30px;
  }
  .layout-atmos .menu-box-atm-first .menu-list .l-btn-text {
    visibility: hidden;
    height: 22px;
    width: 18px;
    margin: 0 auto;
    overflow: hidden;
  }
  .layout-atmos .menu-box-atm-first b.tc,
  .layout-atmos .menu-box-atm-first b.bc {
    width: 57% !important;
  }
  .layout-atmos .number-data-total {
    width: 250px !important;
  }
  .layout-atmos .number-data-total .mode-con {
    width: 247px !important;
  }
  .layout-atmos .number-data-total .menu-list {
    margin-top: -35px !important;
  }
  .layout-atmos .number-data-total .menu-list .btn-menu {
    height: 22px;
    line-height: 22px;
  }
  .nitrogen-filling-result {
    top: -80px;
  }
  .nitrogen-filling-result .qualified,
  .nitrogen-filling-result .unqualified {
    font-size: 16px;
  }
  .nitrogen-filling-result .nf-rt-con .pressure-value {
    height: 26px;
    line-height: 26px;
    margin-top: 10px;
  }
  .nitrogen-filling-result p strong {
    font-size: 18px;
  }
  .insect-data-total {
    width: 322.86666667px;
  }
  .insect-data-total .mode-con {
    width: 320.08333333px;
  }
  .detection-mode {
    width: 305.23888889px;
  }
  .detection-mode .mode-con {
    width: 302.45555556px;
  }
  .monitoring-points label {
    width: 72px !important;
  }
  .monitoring-points label:first-child {
    padding-left: 72px !important;
  }
  .gr-mo-note {
    bottom: 0;
  }
  .detection-chart .grain-point-wrap {
    margin: 0 auto;
  }
  .easy-handycam a,
  .road-gate1 a {
    width: 50px;
    height: 50px;
    font-size: 13px;
    margin-top: 5px;
  }
  .road-gate,
  .road-operat a,
  .road-close {
    transform: scale(0.8);
  }
  .road-operat-top .open {
    top: 25px;
  }
  .road-operat-top .stop {
    top: -47px;
  }
  .road-operat-top .close {
    top: -119px;
  }
  .road-operat-top.road-operat-btn2 .open {
    top: 25px;
  }
  .road-operat-top.road-operat-btn2 .close {
    top: -47px;
  }
}
@media screen and (max-width: 1360px) {
  .ts-item {
    width: 241px;
  }
  .storage-item {
    left: 263px;
  }
  .outgoing-item {
    left: 526px;
  }
  .infoot-item {
    left: 789px;
  }
  .outfoot-item {
    left: 1052px;
  }
}
@media screen and (max-width: 1060px) {
  .edit-pic-con .form-edit-list,
  .veiw-pic-con .form-edit-list,
  .edit-pic-con .veiw-list,
  .veiw-pic-con .veiw-list {
    width: 582px;
  }
  .edit-pic-con .form-edit-list li,
  .veiw-pic-con .form-edit-list li,
  .edit-pic-con .veiw-list li,
  .veiw-pic-con .veiw-list li {
    width: 291px;
  }
  .veiw-con .veiw-list li,
  .edit-con .form-edit-list li {
    width: 329px;
  }
  .set-edit .form-edit-list li {
    width: 460px;
  }
  .library-point-info .form-edit-list li {
    width: 476px;
  }
  .analysis-report .veiw-list li {
    width: 23%;
  }
  .os-grid-header {
    margin: 0 20px;
  }
  .letgo {
    right: 20px;
  }
  .os-flow-item {
    margin-left: 30px;
  }
  .out-storage-detail .os-grid-con:before {
    left: 92px;
    width: 845px;
  }
  .out-storage-detail .underway .dot:before,
  .out-storage-detail .not .dot:before {
    width: 125px;
  }
  .out-storage-detail .os-flow-item:first-child,
  .out-storage-detail .out-item .os-flow-item:first-child {
    margin-left: 32px;
  }
  .out-storage-detail .os-flow-item {
    margin-left: 40px;
  }
  .out-storage-detail .os-flow-item .time {
    width: 102px;
    font-size: 12px;
  }
  .out-storage-detail .os-flow-item .con {
    padding-left: 4px;
    width: 136px;
  }
  .out-storage-detail .os-flow-item .con li {
    padding-left: 9px;
  }
  .out-storage-detail .os-flow-item s {
    top: 27px;
    left: 116px;
  }
  .out-storage-detail .os-flow-item .dot {
    margin-left: -12px;
  }
  .out-storage-detail .out-item .os-flow-item {
    margin-left: 68px;
  }
  .out-storage-detail .out-item .os-flow-item s {
    left: 131px;
  }
  .out-storage-detail .out-item .os-grid-con:before {
    width: 845px;
  }
  .out-storage-detail .os-grid-con {
    width: 990px;
  }
  .ts-item {
    width: 183px;
  }
  .storage-item {
    left: 205px;
  }
  .outgoing-item {
    left: 409px;
  }
  .infoot-item {
    left: 614px;
  }
  .outfoot-item {
    left: 819px;
  }
  .informat-view2 .ei-form {
    margin-right: 10px;
  }
  .informat-view2 .veiw-auto-list li {
    width: 280px;
  }
  .add-info-photo .edit-con {
    width: 658px;
  }
  .analysis-report {
    width: 98% !important;
  }
  .weighing-wrap .main-wrap {
    margin-right: 452px;
  }
  .weighing-wrap .col-sub {
    margin-left: -452px;
    width: 452px;
  }
}
@media screen and (max-width: 1053px) {
  .license-plate {
    top: 42px;
  }
  .weighing-wrap {
    padding: 3px;
  }
  .weighing-wrap .main-wrap {
    margin-right: 400px;
  }
  .weighing-wrap .col-sub {
    margin-left: -400px;
    width: 400px;
  }
  .weighing-pic-list li {
    width: 196px;
    height: 106px;
  }
  .gross-weigh {
    width: 257px;
  }
  .gross-weigh .weigh {
    width: 178px;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
  }
  .gross-weigh .weigh strong {
    font-size: 24px;
  }
  .gross-weigh .weigh strong i {
    font-size: 13px;
  }
  .gross-weigh .btn-weigh {
    width: 42px;
    height: 42px;
    line-height: 42px;
  }
  .gross-weigh .btn-weigh .l-btn-text {
    line-height: 16px;
    padding-top: 5px;
    font-size: 12px;
  }
  .weighing-details {
    padding-top: 6px;
  }
  .plate-number {
    width: 78px;
    height: 38px;
  }
  .plate-number .textbox .textbox-text {
    margin-top: 8px !important;
    font-size: 14px;
  }
  .form-edit-list {
    margin-left: 0px;
  }
  .form-edit-list li {
    width: 329px;
    min-width: 291px;
    margin-left: 0px;
  }
  .form-edit-list li .form-label {
    width: 72px;
  }
  .bag-weight .form-edit-list {
    margin-left: -3%;
  }
  .bag-weight .form-edit-list li {
    width: auto;
    min-width: auto;
    margin-left: 3%;
  }
  .bag-weight .form-edit-list li:first-child {
    padding-right: 2px;
  }
  .bag-weight .form-edit-list li:first-child .form-label {
    width: 72px;
  }
  .set-edit .form-edit-list li {
    width: 460px;
  }
  .veiw-con .veiw-list li.single {
    width: 100%;
  }
  .identity-authent .code-box {
    margin-top: 0;
  }
  .identity-authent .code-box li a {
    margin: 0 20px;
  }
  .code-box li {
    margin-top: 30px;
  }
  .code-box li a {
    margin: 0 20px;
  }
  .outgoing-pic {
    width: 582px;
  }
  .safety-tracing-wrap {
    width: 760px;
  }
  .safety-tracing .hd h2 {
    font-size: 18px;
  }
  .progress-bar {
    left: 27px;
    width: 698px;
  }
  .progress-status2 {
    left: 122px;
  }
  .progress-status3 {
    left: 313px;
  }
  .progress-status4 {
    left: 514px;
  }
  .base-line-wrap {
    width: 666px;
  }
  .safety-dates {
    font-size: 13px;
    width: 130px;
  }
  .stage-list {
    padding: 0 5px;
  }
  .stage-list li {
    font-size: 13px;
  }
  .safety-dates-step1 {
    left: -16px;
  }
  .safety-dates-step2 {
    left: 100px;
  }
  .safety-dates-step3 {
    left: 292px;
  }
  .safety-dates-step4 {
    left: 492px;
  }
  .safety-dates-step5 {
    right: -10px;
  }
  .safety-stage1 {
    left: -2px;
    width: 88px;
  }
  .safety-stage2 {
    left: 118px;
    width: 94px;
  }
  .safety-stage3 {
    left: 261px;
    width: 192px;
  }
  .safety-stage4 {
    left: 502px;
  }
  .safety-stage5 {
    right: -2px;
  }
  .ts-item {
    width: 177px;
  }
  .storage-item {
    left: 197px;
  }
  .outgoing-item {
    left: 394px;
  }
  .infoot-item {
    left: 591px;
  }
  .outfoot-item {
    left: 788px;
  }
  .out-storage-detail .os-flow-item.not strong b,
  .out-storage-detail .out-item .os-flow-item.not strong b {
    background-position: -477px 0;
  }
  .out-storage-detail .os-flow-item7 .con,
  .out-storage-detail .out-item .os-flow-item6 .con {
    width: 112px;
  }
  .os-grid-header .cname {
    width: 390px;
  }
  .vehicle-wrap {
    width: 190px;
  }
  .out-storage-detail .out-item .os-flow-item {
    margin-left: 46px;
  }
}
